*{
    margin: 0px;
    padding: 0px;
}
.cards{
  width:40%;
  background-color: yellow;
  margin: 100px;
  box-shadow: 2px 2px 10px black;
}
.cards:hover{
  box-shadow: 3px 3px 10px blue;
}
.image img{
  width:100%;
}
.title{
  text-align: center;
  font-style: italic;
}
.description{
  text-align: Center;
  font-style: italic;
}
button{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
button:hover{
  background-color: Blue;
  color: white;
  cursor: pointer;
}
