html,
body,
main {
	margin: 0;
	padding: 0;
}
main {
	padding-left: 10px;
	margin-left: 10px;
  background-color: #DCDCDC;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body{
  margin-top: 20px;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
	background-color: white;
	margin-right: 10px;
	background-position: center;


section{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  font-family:serif;
  color: black;
  font-size: 40px;
	padding: 10px;
	display: inline;
}

h2{
  font-family: Worldly Regular,Open Sans,Arial,sans-serif;
  color: black;
  font-size: 30px;
}
h2,h3,h4,{
  font-family: Worldly Regular,Open Sans,Arial,sans-serif;
  font-weight: 400px;
  color: #000D7D
}
}

p{
  font-size: 20px;
	margin-block-start: 0px;
}
strong{
  text-decoration:underline;
}
a {
	color: blue;
}

a:visited {
  color: red;
}
em{
  color: #ff1a1a;
}
ul li{
  list-style: square;
  padding: 5px;
}
li ul li{
  list-style: disc;
}
.colour {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
}
.colour--primary {
	background: linear-gradient(to right, #009688, #4caf50);;
}

.colour--secondary {
	background: linear-gradient(to right,  #b8b894, #ccccb3);;
}

.colour--dark{
	background:  #000000;
}

.colour--light {
	background: #f9f9ff;
}

.colour--highlight {
	background: #ff4d4d;
}
@media (min-width: 600px) {
	main {
		width: 600px;
		margin: auto;
	}
}
